html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

p {
  display: inline !important;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
}

div {
  text-align: center;
  }

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}


.boxl1 {
  height: 50px;
  width: 10%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr1 {
  height: 50px;
  width: 90%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}


.boxl2 {
  height: 50px;
  width: 20%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr2 {
  height: 50px;
  width: 80%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxl3 {
  height: 50px;
  width: 30%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr3 {
  height: 50px;
  width: 70%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxl4 {
  height: 50px;
  width: 40%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr4 {
  height: 50px;
  width: 60%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxl5 {
  height: 50px;
  width: 50%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr5 {
  height: 50px;
  width: 50%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxl6 {
  height: 50px;
  width: 60%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr6 {
  height: 50px;
  width: 40%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}


.boxl7 {
  height: 50px;
  width: 70%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr7 {
  height: 50px;
  width: 30%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}


.boxl8 {
  height: 50px;
  width: 66.67%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr8 {
  height: 50px;
  width: 33.33%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}


.boxl9 {
  height: 50px;
  width: 75%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr9 {
  height: 50px;
  width: 25.00%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}


.boxl10 {
  height: 50px;
  width: 83.334%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr10 {
  height: 50px;
  width: 16.666%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}



.boxl11 {
  height: 50px;
  width: 91.667%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}

.boxr11 {
  height: 50px;
  width: 8.333%;
  background-color: lightgrey;
  margin: 5px 20px 5px 20px;
}











/* ADVANCE CSS SELECTORS */
